<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img
 src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/alx-courses/aice/assets/Content_page_banner_blue_dots.png"
 alt="ALX Content Header"
 class="full-width-image"
/>
</div>

# **Regional Showdown: 2014 Business Performance Battle**

## **Background**

Superstore HQ's executive leadership is preparing for a strategic review of regional performance. As the company approaches the end of the fiscal year, key decisions must be made about future investments, regional support, and operational efficiency. However, the current performance data is fragmented across spreadsheets, and informal reporting has led to inconsistent interpretations of success across regions.
To move forward with clarity and confidence, leadership requires an evidence-based performance report one that consolidates reliable metrics and provides objective comparisons between regions.




![Regional Managers Planning](https://raw.githubusercontent.com/DesmondMokhali/sql_assessment/main/manager_meeting.jpg)


## **Problem**

There is currently no standardized or centralized method to assess and compare regional performance. Without clear insights, the leadership team cannot make informed decisions about where to allocate resources or identify top-performing regions.
As a **Data Analyst**, you have been formally tasked with producing a detailed analysis that addresses this gap. You must extract meaningful trends from the raw data, identify performance indicators, and deliver a structured set of insights. Your analysis will be the foundation for critical decision-making at the executive level.

## **Learning objectives**
This exercise is designed to simulate the responsibilities of a data analyst working in a business environment where data integrity, strategic reporting, and analytical precision are essential.

You will learn how to:

- Write production-ready SQL to answer real business questions.
- Query and join tables effectively in notebooks.
- Use aggregations and numeric functions to compute KPIs.
- Build region-level summaries based on sales, profit, order volumes, and other performance indicators,
- Translate raw transactional data into actionable insights for stakeholders.

By the end of this project, you will have demonstrated how SQL can be used as a powerful tool to support strategic business decisions.

### Data Description

The Global Superstore dataset is a comprehensive dataset containing information about sales and orders in a global superstore. 

The `superstore.db` database contains **51,290 unique records** across **27 columns**. It captures detailed information on customer orders, sales performance, shipping logistics, and regional operations.

The data model, including column names, data types, and feature descriptions, is documented here: [Superstore Data Dictionary](https://docs.google.com/document/d/1UhUyfFvQnZG2iDsy6LNNrTuezQ9wBtoAJI966IZNEpQ/edit?usp=sharing)


**Table:** `superstore`

**Key Columns:**
- category  
- city  
- country  
- customer_id  
- customer_name  
- discount  
- market  
- record_count
- order_date  
- order_id  
- order_priority  
- product_id  
- product_name  
- profit  
- quantity  
- region  
- row_id  
- sales  
- segment  
- ship_date  
- ship_mode  
- shipping_cost  
- state  
- sub_category  
- year  
- market2  
- weeknum  

> This dataset provides a rich foundation for exploring business performance across time, geography, and customer segments using SQL and data analysis techniques.

### 1. Install the required libraries (if not yet installed)
In a Jupyter notebook cell, run:

In [27]:
# Install SQLAlchemy (if needed)
# !pip install "SQLAlchemy==1.4.46" --quiet

In [28]:
# Import required libraries
import pandas as pd
import os
from sqlalchemy import create_engine

### 2. Load CSV and Set Up SQLite Database for SQL Queries in Jupyter

In [ ]:
# Define the CSV file name
csv_filename = "superstore.csv"

# Check if the CSV file exists in the current working directory; raise an error if not found
if not os.path.exists(csv_filename):
    raise FileNotFoundError(f"File '{csv_filename}' not found in: {os.getcwd()}")

# Load the CSV into a DataFrame and clean the column names:
# - Replace periods with underscores
# - Remove leading/trailing whitespace
# - Convert all column names to lowercase
df = pd.read_csv(csv_filename)
df.columns = df.columns.str.replace('.', '_', regex=False).str.strip().str.lower()

# Rename non-English or special columns
df.rename(columns={"记录数": "record_count"}, inplace=True)

Index(['category', 'city', 'country', 'customer_id', 'customer_name',
       'discount', 'market', 'record_count', 'order_date', 'order_id',
       'order_priority', 'product_id', 'product_name', 'profit', 'quantity',
       'region', 'row_id', 'sales', 'segment', 'ship_date', 'ship_mode',
       'shipping_cost', 'state', 'sub_category', 'year', 'market2', 'weeknum'],
      dtype='object')

In [30]:
# Create SQLite database and save the table
from sqlalchemy import create_engine

engine = create_engine("sqlite:///superstore.db", future=True)
df.to_sql("superstore", con=engine, index=False, if_exists="replace")

51290

In [31]:
# Load and connect SQL magic
%reload_ext sql
%sql sqlite:///superstore.db

### 3. Review the first 5 rows

In [32]:
%%sql
SELECT * FROM superstore LIMIT 5;

 * sqlite:///superstore.db
Done.

[('Office Supplies', 'Los Angeles', 'United States', 'LS-172304', 'Lycoris Saunders', 0.0, 'US', 1, '2011-01-07 00:00:00.000', 'CA-2011-130813', 'High', 'OFF-PA-10002005', 'Xerox 225', 9.3312, 3, 'West', 36624, 19, 'Consumer', '2011-01-09 00:00:00.000', 'Second Class', 4.37, 'California', 'Paper', 2011, 'North America', 2),
 ('Office Supplies', 'Los Angeles', 'United States', 'MV-174854', 'Mark Van Huff', 0.0, 'US', 1, '2011-01-21 00:00:00.000', 'CA-2011-148614', 'Medium', 'OFF-PA-10002893', 'Wirebound Service Call Books, 5 1/2" x 4"', 9.2928, 2, 'West', 37033, 19, 'Consumer', '2011-01-26 00:00:00.000', 'Standard Class', 0.94, 'California', 'Paper', 2011, 'North America', 4),
 ('Office Supplies', 'Los Angeles', 'United States', 'CS-121304', 'Chad Sievert', 0.0, 'US', 1, '2011-08-05 00:00:00.000', 'CA-2011-118962', 'Medium', 'OFF-PA-10000659', 'Adams Phone Message Book, Professional, 400 Message Capacity, 5 3/6” x 11”', 9.8418, 3, 'West', 31468, 21, 'Consumer', '2011-08-09 00:00:00.000', 'Standard Class', 1.81, 'California', 'Paper', 2011, 'North America', 32),
 ('Office Supplies', 'Los Angeles', 'United States', 'CS-121304', 'Chad Sievert', 0.0, 'US', 1, '2011-08-05 00:00:00.000', 'CA-2011-118962', 'Medium', 'OFF-PA-10001144', 'Xerox 1913', 53.2608, 2, 'West', 31469, 111, 'Consumer', '2011-08-09 00:00:00.000', 'Standard Class', 4.59, 'California', 'Paper', 2011, 'North America', 32),
 ('Office Supplies', 'Los Angeles', 'United States', 'AP-109154', 'Arthur Prichep', 0.0, 'US', 1, '2011-09-29 00:00:00.000', 'CA-2011-146969', 'High', 'OFF-PA-10002105', 'Xerox 223', 3.1104, 1, 'West', 32440, 6, 'Consumer', '2011-10-03 00:00:00.000', 'Standard Class', 1.32, 'California', 'Paper', 2011, 'North America', 40)]

# Integrated project notebook

## 1. SQL in Production

### **Task 1.** 
### Which region generated the highest total sales in year 2014?

In [33]:
%%sql

# Add your code here

 * sqlite:///superstore.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Add your code here]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

**Expected Output (Top 4 Regions by Total Sales in 2014):**
 | Region  | Total_Sales |
 |---------|-------------|
 | West    | 725,457.33  |
 | South   | 501,380.33  |
 | East    | 491,390.11  |
 | Central | 451,140.65  |

### **Task 2.**

### What is the average order quantity by region for the past quarter (Q4 2014)?

In [34]:
%%sql

# Add your code here

 * sqlite:///superstore.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Add your code here]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<!-- Note -->
<div style="background-color:#f5f5f5; border-left:5px solid rgb(180, 180, 180); padding:10px; border-radius:4px;">
  <strong>Hold on...</strong> Sales alone don’t tell the full story. What if a region makes fewer sales but has better margins?
</div>

### **Task 3.**
### If one region consistently has lower sales but higher profit margins, how might that affect decisions about future investments in that region?

## 2. Querying in Notebooks

### **Task 4.** 
### List the top 3 Region by number of orders placed.

In [35]:
%%sql

# Add your code here

 * sqlite:///superstore.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Add your code here]
(Background on this error at: https://sqlalche.me/e/20/e3q8)


### **Task 5.**
### Which product category have the least contribution to overall profit?

In [36]:
%%sql

# Add your code here

 * sqlite:///superstore.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Add your code here]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

**Expected Output (Total Profit by Category):**
 | Category         | Total_Profit |
 |------------------|--------------|
 | Technology       | 446,519.46   |
 | Office Supplies  | 122,490.90   |
 | Furniture        | 86,154.89    |

<!-- Note -->
<div style="background-color:#f5f5f5; border-left:5px solid rgb(180, 180, 180); padding:10px; border-radius:4px;">
  <strong>Hmm... </strong> Some categories might be profitable, but are those profits sustainable?  
What if many customers are returning those products due to dissatisfaction or mismatch?  
Even if return data isn't available, it's important to consider how returns could impact long-term profitability and reputation.
</div>

### **Task 6.** 
### Based on your findings, suggest one strategy to improve performance in the lowest-performing region.

## 3. Numeric Functions & Aggregations

### **Task 7.**
### Calculate the average delivery delay per region (Order Date vs Ship Date).

In [37]:
%%sql

# Add your code here

 * sqlite:///superstore.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Add your code here]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### **Task 8.** 
### Which customer segment yields the highest average order value?

In [38]:
%%sql

# Add your code here

 * sqlite:///superstore.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Add your code here]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<!-- Note -->
<div style="background-color:#f5f5f5; border-left:5px solid rgb(180, 180, 180); padding:10px; border-radius:4px;">
  <strong>Efficiency and value matter.</strong> While understanding delivery delays helps reveal operational efficiency by region, analyzing customer segments shows where the most valuable orders come from.  
  Even if two regions achieve similar sales, differences in delivery performance and customer mix can lead to very different costs and profitability.
</div>

### **Task 9.**
### Two regions have similar total sales, but one region has significantly higher shipping costs. What factors could explain this difference, and how might you address it as a regional manager?

## 4. Window Functions

### **Task 10.**
### Rank customers within each region by total sales and find the top customer per region.

In [39]:
%%sql

# Add your code here

 * sqlite:///superstore.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Add your code here]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

**Expected Output (Top Customer by Total Sales in Each Region):**
| Region  | Customer_Name   | Total_Sales |
|---------|------------------|-------------|
| Central | Tamara Chand     | 25,601.01   |
| East    | Sean Miller      | 26,568.45   |
| West    | Raymond Buch     | 27,965.22   |
| South   | Tom Ashbrook     | 23,702.79   |

### **Task 11.**
### Show the year-over-year sales growth per region.

> 💡 This task requires joining multiple tables. If you haven’t learned joins yet, use this example as a guide:

**Objective:**  
Calculate the year-over-year (YoY) sales growth percentage for each region.


**Instructions:**

1. Aggregate total sales per region and year by grouping on `region` and extracting the year from `order_date`.  
2. Join each year’s total sales with the previous year’s total sales for the same region.  
3. Calculate the YoY growth percentage using the formula:  
   - If there is no previous year’s sales data, set the growth to 0%.  
4. Display columns:  
   - `region`  
   - `year`  
   - `total_sales` (current year)  
   - `prev_year_sales` (previous year)  
   - `yoy_growth_percent`  
5. Order the results by `region` and `year` in ascending order.

In [40]:
%%sql
WITH YearlySales AS (
  SELECT 
    Region,
    strftime('%Y', "Order.Date") AS Year,
    SUM(Sales) AS Total_Sales
  # Add code here
)

SELECT 
  cur.Region,
  cur.Year AS Current_Year,
  cur.Total_Sales AS Current_Year_Sales,
  prev.Total_Sales AS Previous_Year_Sales,
  ROUND(
    CASE 
      WHEN prev.Total_Sales IS NULL OR prev.Total_Sales = 0 THEN NULL
      ELSE ((cur.Total_Sales - prev.Total_Sales) * 100.0 / prev.Total_Sales)
    END, 2
  ) AS YoY_Growth_Percent
# Add your code here
LEFT JOIN YearlySales prev
  ON cur.Region = prev.Region
  AND CAST(cur.Year AS INTEGER) = CAST(prev.Year AS INTEGER) + 1
# Add your code here ;

 * sqlite:///superstore.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: WITH YearlySales AS (
  SELECT
    Region,
    strftime('%Y', "Order.Date") AS Year,
    SUM(Sales) AS Total_Sales
  # Add code here
)

SELECT
  cur.Region,
  cur.Year AS Current_Year,
  cur.Total_Sales AS Current_Year_Sales,
  prev.Total_Sales AS Previous_Year_Sales,
  ROUND(
    CASE
      WHEN prev.Total_Sales IS NULL OR prev.Total_Sales = 0 THEN NULL
      ELSE ((cur.Total_Sales - prev.Total_Sales) * 100.0 / prev.Total_Sales)
    END, 2
  ) AS YoY_Growth_Percent
# Add your code here
LEFT JOIN YearlySales prev
  ON cur.Region = prev.Region
  AND CAST(cur.Year AS INTEGER) = CAST(prev.Year AS INTEGER) + 1
# Add your code here ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

**Expected Output (Sample YoY Sales Growth by Region):**
| Region  | Year | Total_Sales | Prev_Year_Sales | YoY_Growth_% |
|---------|------|-------------|------------------|--------------|
| Central | 2014 | 451,140.65  | 437,942.22       | 3.02%        |
| West    | 2014 | 725,457.33  | 635,890.14       | 14.09%       |
| South   | 2014 | 501,380.33  | 479,950.20       | 4.46%        |
| Caribbean | 2014 | 36,580.10 | 44,221.14        | -17.30%      |

**Note:**  
- We used the `STRFTIME('%Y', order_date)` function to extract the year.

- A Common Table Expression (CTE) was used to compute yearly sales first.

- A `LEFT JOIN` was used to combine current and previous year sales for each region.

- The `ROUND()` function helped clean up percentage results for readability.

- We included a conditional check to avoid division by zero or NULL when previous year sales were missing.

- Results are ordered by `region` and `year` to clearly show trends over time.

<!-- Note -->
<div style="background-color:#f5f5f5; border-left:5px solid rgb(180, 180, 180); padding:10px; border-radius:4px;">
  <strong>Trends tell a story.</strong> Ranking customers by sales highlights key contributors in each region, while year-over-year sales growth reveals how regions perform over time.  
  Sudden changes, like a sharp growth in Q3 followed by a decline in Q4, could signal potential issues affecting future performance.
</div>

### **Task 12.**
### If a region experienced strong sales growth in Q3 but saw a decline in Q4, how should this pattern affect their ranking on the final leaderboard? What factors would you consider in your evaluation?

<!-- Note -->
<div style="background-color:#f5f5f5; border-left:5px solid rgb(180, 180, 180); padding:10px; border-radius:4px;">
  <strong>Loyalty check! </strong> Let's find out which region's customers keep coming back for more.
Repeat business might just be the secret weapon of the winning region.
</div>

### **Task 13.** 
### Which region has the highest number of repeat customers (customers who ordered more than once)

In [41]:
%%sql

 
# Add your code here

 * sqlite:///superstore.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Add your code here]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<!-- Note -->
<div style="background-color:#f5f5f5; border-left:5px solid rgb(180, 180, 180); padding:10px; border-radius:4px;">
  <strong>And now… the moment of truth.</strong> You’ve uncovered key insights by analyzing repeat customers and other metrics.  
  It’s time to combine Sales, Profit, Delivery, and Loyalty into one overall score for each region.  
  Who will be crowned the Ultimate Regional Manager of the year?
</div>

### **Task 14**

![Regional Winner Celebration](https://raw.githubusercontent.com/DesmondMokhali/sql_assessment/main/regional_winner.jpg)

### 
1. Use `RANK()` or `ROW_NUMBER()` to rank products by profit in each region.
2. Filter to get the top-ranked product per region.
3. Bonus: Calculate cumulative sales over time using `SUM(...) OVER (PARTITION BY ...)`.?

In [42]:
%%sql
WITH SalesProfit AS (
    SELECT 
        Region,
        ROUND(SUM(Sales), 2) AS Total_Sales,
        ROUND(SUM(Profit), 2) AS Total_Profit,
        ROUND(AVG(Quantity), 2) AS Avg_Quantity,
        ROUND(AVG(julianday("Ship.Date") - julianday("Order.Date")), 2) AS Avg_Delivery_Delay,
        ROUND(SUM("Shipping.Cost"), 2) AS Total_Shipping_Cost
    # Add your code here
),
RankedRegions AS (
    SELECT *,
        RANK() OVER (ORDER BY Total_Sales DESC) AS Sales_Rank,
        RANK() OVER (ORDER BY Total_Profit DESC) AS Profit_Rank,
        RANK() OVER (ORDER BY Avg_Delivery_Delay ASC) AS Delivery_Rank,
        RANK() OVER (ORDER BY Total_Shipping_Cost ASC) AS Shipping_Rank
    FROM SalesProfit
),
Final AS (
    SELECT *,
        (Sales_Rank + Profit_Rank + Delivery_Rank + Shipping_Rank) AS Overall_Rank_Score
    FROM RankedRegions
)
# Add your code here
;

 * sqlite:///superstore.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: WITH SalesProfit AS (
    SELECT
        Region,
        ROUND(SUM(Sales), 2) AS Total_Sales,
        ROUND(SUM(Profit), 2) AS Total_Profit,
        ROUND(AVG(Quantity), 2) AS Avg_Quantity,
        ROUND(AVG(julianday("Ship.Date") - julianday("Order.Date")), 2) AS Avg_Delivery_Delay,
        ROUND(SUM("Shipping.Cost"), 2) AS Total_Shipping_Cost
    # Add your code here
),
RankedRegions AS (
    SELECT *,
        RANK() OVER (ORDER BY Total_Sales DESC) AS Sales_Rank,
        RANK() OVER (ORDER BY Total_Profit DESC) AS Profit_Rank,
        RANK() OVER (ORDER BY Avg_Delivery_Delay ASC) AS Delivery_Rank,
        RANK() OVER (ORDER BY Total_Shipping_Cost ASC) AS Shipping_Rank
    FROM SalesProfit
),
Final AS (
    SELECT *,
        (Sales_Rank + Profit_Rank + Delivery_Rank + Shipping_Rank) AS Overall_Rank_Score
    FROM RankedRegions
)
# Add your code here
;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

 **Expected Output (Simplified):**
| Region      | Total_Sales | Total_Profit | Avg_Delay | Shipping_Cost | Rank_Score |
|-------------|-------------|--------------|-----------|----------------|------------|
| West        | 725K        | 210K         | 2.6 days  | 35K            | 6          |
| Central     | 451K        | 148K         | 3.5 days  | 33K            | 10         |
| Caribbean   | 36K         | 4K           | 5.5 days  | 11K            | 20         |

🏅 Lowest total score = best region.

### **Task 15**

In our current ranking, we treated all performance factors equally:  
- **Total Sales**  
- **Total Profit**  
- **Average Delivery Delay**  
- **Total Shipping Cost**  

Each rank was summed to create an overall score, where a **lower score indicates better performance**.

But what if we had **used a weighted scoring matrix** — assigning importance (weights) to each metric?

![Regional Manager Score Matrix](https://raw.githubusercontent.com/DesmondMokhali/sql_assessment/main/Regional_Manager_Score_Matrix.png)


> This matrix is for *illustration only*. You do **not** need to calculate weighted scores unless instructed.  
> If you'd like to try, apply weights to metrics like this:  
> `weighted_score = (0.3 * profit) + (0.7 * sales)`



### Would the Winner Still Be the Same?

## 📋 Knowledge Check

Once you've completed your analysis, test your understanding by taking this short multiple-choice quiz:

[👉 Take the MCQ Quiz](https://docs.google.com/forms/d/e/1FAIpQLSdnRmZyzSrfFsnn_Ije93_47mjYxWFI_qyTsNGo4U91kGxcpA/viewform?usp=sharing&ouid=107591265593905105837)


## 🏆 Congratulations!

You've worked through all critical SQL concepts in a real business scenario. Not only have you sharpened your SQL skills, but you’ve also learned how to:

- Drive business decisions with data
- Use notebook-based SQL workflows
- Analyze performance across multiple KPIs

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:100px"  ;/>
</div>